/* Common app styling */
.padding {
    padding: 15px;
}

.padding-sides {
    padding: 0 15px 15px 15px;
}

.no-padding {
	padding: 0;
}

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

#notification-message-header {
    font-size: medium;
    color: #fff;
    margin-bottom: 10px;
}

#notification-message-body {
    color: #fff;
}

#notification-message-close {
    background-image: url("../Images/Close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.float-right + h1 {
	display: inline-block;
}

.ms-MessageBar {
  padding: 8px;
  display: table;
  background-color: #f4f4f4;
}

.ms-MessageBar-icon,
.ms-MessageBar-text {
  display: table-cell;
  vertical-align: middle;
}

.ms-MessageBar-icon {
  padding-right: 8px;
  font-size: 16px;
  color: #767676;
}

.ms-MessageBar-text {
  color: #333333;
  font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.ms-MessageBar.ms-MessageBar--warning {
  background-color: #fff4ce;
}

.ms-MessageBar.ms-MessageBar--severeWarning {
  background-color: #fed9cc;
}

.ms-MessageBar.ms-MessageBar--severeWarning .ms-MessageBar-icon {
  color: #d83b01;
}

.ms-MessageBar.ms-MessageBar--error {
  background-color: #fde7e9;
}

.ms-MessageBar.ms-MessageBar--error .ms-MessageBar-icon {
  color: #a80000;
}

.ms-MessageBar.ms-MessageBar--remove {
  background-color: #fde7e9;
}

.ms-MessageBar.ms-MessageBar--remove .ms-MessageBar-icon {
  color: #a80000;
}

.ms-MessageBar.ms-MessageBar--remove .ms-Icon {
  font-size: 8px;
  margin-left: 3px;
}

.ms-MessageBar.ms-MessageBar--success {
  background-color: #dff6dd;
}

.ms-MessageBar.ms-MessageBar--success .ms-MessageBar-icon {
  color: #107c10;
}

.ms-MessageBar.ms-MessageBar--success .ms-Icon {
  font-size: 12px;
  top: 3px;
}

.ms-MessageBar.ms-MessageBar--success .ms-Icon:before {
  margin-left: 1px;
}

.ms-MessageBar.ms-MessageBar--success .ms-Icon:after {
    font-size: 8px;
    margin-left: 3px;
    top: 1px;
}
 
.ms-Spinner {
    color: #0078d7;
    height: 32px;
    width: 100%;
}

.ms-Spinner-label {
    position: absolute;
    left: 28px;
    top: 2px;
}

.ms-Spinner-circle {
    background-color: #0078d7;
}

.ms-Dropdown-caretDown {
    bottom: 5px;
    top: auto;
}